@font-face {
  font-family: 'pixel-font';
  src: url('fonts/pixel.woff') format('woff');
  font-style: normal;
  font-weight: 100;
  font-display: swap; 
}

:root {
  --blue: #0000ff;
  --white: #ffffff;
  --black: black;
  --yellow: #ffff00;
  --gray: #808080;
  --red: #ff0000;
  

  --text-color: #ffffff;
  --background-color: #0000ff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "pixel-font", sans-serif;

  /* outline: 1px solid blue; */
}
html, body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* UTIL CLASSES */ 


html.light, body.light {
  --text-color: #ffffff;
  --background-color: #0000ff;
  --anchor-color: #ffff00;
  --error: #ff9900;

  color: var(--text-color);
  background-color: var(--background-color);
}

html.dark, body.dark {
  --text-color: #ffffff;
  --background-color: #000000;
  --anchor-color: #ffff00;
  --error: #ff0000;

  color: var(--text-color);
  background-color: var(--background-color);
}

body, header, footer, button, a, input {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hover:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 80%;
}
::selection {
  background-color: var(--yellow);
  color: var(--black);
}
a {
  color: var(--anchor-color);
}
body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
}

/* HEADER */
header {
  width: 100dvw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.header_content {
  text-align: left;
  text-decoration: none;
  color: var(--text-color);
}
.header_title {
  font-size: 50px;
}
nav {
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a {
  color: var(--text-color);
  text-decoration: none;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0px;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0px;
  background-color: var(--background-color);
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}

button {
  background: transparent;
  color: var(--text-color);
  border: none;
}
input {
  width: 100%;
  background: transparent;
  color: var(--text-color);
  border: none;
  caret-shape: block;
  caret-color: var(--text-color);
}
input:focus, input:active {
  outline: none;
  border: none;
  appearance: none;

}
input:focus::placeholder {
  color: transparent;
}
strong {
  opacity: 50%;
}


/* HUD AND SEARCH CONTAINER */
.hud-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.search p {
  rotate: 190deg;
  font-size: 0.8em;
}

/* POSTS LIST */
.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 150px;
}
.section-posts-list {
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post {
  width: 100%;
}
.post-username, .post-head {
  opacity: 60%;
}
.post-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 25px;
}
.post-ads-username {
  color: var(--anchor-color);
}

.hover:hover .post-ads-username {
  color: var(--background-color);
}
.comment-container.active {
  display: flex;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}
.comment-container {
  display: none;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s, display 0.3s allow-discrete;
}

.comment-symbol {
  font-size: 35px;
  font-weight: 100;
  opacity: 50%;
}
.comment {
  display: flex;
  align-items: baseline;
}
.comment-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}
.comment-subject {
  padding: 0px 0px 0px 5px;
}

/* reply comments */
.reply-container {
  padding: 15px;
  display: flex;
}
.reply {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* general */

.loading:after {
  content: '... ';
  display: block;
  color: var(--text-color);
  animation: dots 500ms infinite;
}

@keyframes dots {
  0% {
    content: '... ';
  }
  25% {
    content: '. ';
  }
  50% {
    content: '.. ';
  }
  75% {
    content: '... ';
  }
}